html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    margin-top: 12px;
    width: 100%;
    height: 101px;
    background-color: rgb(236, 236, 246);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header img {
    width: 81px;
    height: 81px;
    margin-left: 4px;
}

.nav-bar {
    width: 181px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
}

.sidebar-btn {
    height: 65px;
    width: 65px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-image: url('icons/side.jpg');
    background-size: cover;
}


/* sidebar code runs here.  */

.sidebar-show {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
    z-index: 1;
}

.sidebar-show header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar-show ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid black;
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar-show ul a i {
    margin-right: 16px;
}

.sidebar-show li {
    list-style: none;
}

.sidebar-hide {
    position: absolute;
    left: 0;
    height: 45px;
    width: 45px;
    font-size: 34px;
    font-weight: bold;
    background-color: red;
    color: white;
}


/* sidebar code end here.  */


/* image Slider  */

.image-slider {
    margin-top: 12px;
    width: 100%;
    height: 41vh;
    background-image: url('icons/poster1.webp');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position-x: center;
    background-position-y: top;
    /* animation: changeImage 20s linear infinite; */
}


/* @keyframes changeImage {
    0% {
        background-color: red;
    }
    25% {
        background-color: blue;
    }
    50% {
        background-color: yellow;
    }
    75% {
        background-color: crimson;
    }
    100% {
        background-color: green;
    }
} */


/* image slider finished  */

.master-card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
    margin-bottom: 66px;
}

.master-card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
    margin-bottom: 66px;
}

.master-card3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
    margin-bottom: 66px;
}

.cards {
    width: 66%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(223, 223, 252);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 66px;
}

.card {
    width: 281px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.icon {
    height: 28vh;
    width: 281px;
}

.buy-home {
    background-image: url('icons/buy-home.jpg');
    background-size: cover;
    background-position: left 0% top 51%;
}

.buy-land {
    background-image: url('icons/buy-land.jpg');
    background-size: cover;
    background-position: left 0% top 51%;
}

.buy-vehicle {
    background-image: url('icons/buy-vehicle.jpg');
    background-size: cover;
    background-position: left 0% top 51%;
    /* height: 29vh; */
}

.sell-home {
    background-image: url('icons/sell-home.png');
    background-size: cover;
    /* background-position: left 0% top 51%; */
}

.sell-land {
    background-image: url('icons/sell-land.jpg');
    background-size: cover;
    background-position: left 0% top 51%;
}

.sell-vehicle {
    background-image: url('icons/sell-vehicle.png');
    background-size: cover;
    background-position: left 51% top 0%;
}

.rent-your-home {
    background-image: url('icons/rent-your-home.jpg');
    background-size: cover;
    /* background-position: left 51% top 0%; */
}

.rent-your-vehicle {
    background-image: url('icons/rent-your-vehicle.png');
    background-size: cover;
    /* background-position: left 0% top 51%; */
}

.search-for-home-rents {
    background-image: url('icons/search-home-rent.jpg');
    background-size: cover;
    /* background-position: left 0% top 51%; */
}

.search-for-vehicle-rents {
    background-image: url('icons/sell-vehicle.png');
    background-size: cover;
    background-position: left 51% top 0%;
    /* height: 29vh; */
}

.card h2 {
    margin-top: 16px;
    padding: 5px;
    text-align: center;
}

.card a {
    margin-top: 16px;
    margin-bottom: 31px;
    text-decoration: none;
    font-weight: bold;
    padding: 9px;
    border: 2px solid black;
}


/* responsive navbar  */

@media(min-width:761px) {
    .main-header img {
        width: 99px;
        height: 99px;
        margin-left: 4px;
    }
    .nav-bar {
        width: 321px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-bar a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-size: 19px;
        font-weight: bolder;
    }
}

@media(max-width:331px) {
    .main-header img {
        width: 61px;
        height: 61px;
        margin-left: 4px;
    }
    .nav-bar {
        width: 181px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-bar a {
        text-decoration: none;
        color: rgb(27, 26, 26);
        text-transform: uppercase;
        font-size: 9px;
        font-weight: bolder;
    }
    .sidebar-btn {
        height: 21px;
        width: 21px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-image: url('icons/side.jpg');
        background-size: cover;
    }
}

@media(min-width:1551px) {
    .main-header img {
        width: 181px;
        height: 181px;
        margin-left: 4px;
        overflow: hidden;
    }
    .nav-bar {
        width: 421px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-bar a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 21px;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-color: rgb(91, 91, 201);
        padding: 4px;
        border-radius: 9px;
    }
    .sidebar-btn {
        height: 55px;
        width: 55px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-color: rgb(157, 157, 224);
        border-radius: 13px;
        background-image: url('icons/side.jpg');
        background-size: cover;
        margin-right: 9px;
    }
}

@media(max-width:821px) {
    .main-header img {
        width: 61px;
        height: 61px;
        margin-left: 4px;
    }
    .nav-bar {
        width: 181px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-bar a {
        text-decoration: none;
        color: rgb(27, 26, 26);
        text-transform: uppercase;
        font-size: 9px;
        font-weight: bolder;
    }
    .sidebar-btn {
        height: 44px;
        width: 44px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-image: url('icons/side.jpg');
        background-size: cover;
        margin-left: 6px;
    }
}


/* navbar responsive closes here   */


/* responsive image slider starts here.  */

@media(min-width:1551px) {
    .image-slider {
        height: 51vh;
    }
}


/* responsive image slider ends here.  */


/* responsive cards starts here.  */

@media(max-width:1335px) {
    .master-card1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .master-card2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .master-card3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .cards {
        width: 81%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: 66px;
    }
    .card {
        width: 281px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 12px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .icon {
        height: 28vh;
        width: 281px;
    }
    .buy-home {
        background-image: url('icons/buy-home.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .buy-land {
        background-image: url('icons/buy-land.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .buy-vehicle {
        background-image: url('icons/buy-vehicle.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
        /* height: 29vh; */
    }
    .sell-home {
        background-image: url('icons/sell-home.png');
        background-size: cover;
        /* background-position: left 0% top 51%; */
    }
    .sell-land {
        background-image: url('icons/sell-land.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .sell-vehicle {
        background-image: url('icons/sell-vehicle.png');
        background-size: cover;
        background-position: left 51% top 0%;
    }
    .card h2 {
        margin-top: 16px;
        padding: 5px;
        text-align: center;
    }
    .card a {
        margin-top: 16px;
        margin-bottom: 31px;
        text-decoration: none;
        font-weight: bold;
        padding: 9px;
        border: 2px solid black;
    }
}

@media(max-width:913px) {
    .master-card1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .master-card2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .master-card3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .cards {
        width: 81%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: 121px;
    }
    .card {
        /* width: 321px; */
        width: 181px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 12px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .icon {
        height: 101px;
        width: 101px;
    }
    .buy-home {
        background-image: url('icons/buy-home.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .buy-land {
        background-image: url('icons/buy-land.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .buy-vehicle {
        background-image: url('icons/buy-vehicle.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
        /* height: 29vh; */
    }
    .sell-home {
        background-image: url('icons/sell-home.png');
        background-size: cover;
        /* background-position: left 0% top 51%; */
    }
    .sell-land {
        background-image: url('icons/sell-land.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .sell-vehicle {
        background-image: url('icons/sell-vehicle.png');
        background-size: cover;
        background-position: left 51% top 0%;
    }
    .card h2 {
        margin-top: 16px;
        padding: 5px;
        text-align: center;
        font-size: 19px;
    }
    .card a {
        margin-top: 16px;
        margin-bottom: 31px;
        text-decoration: none;
        font-weight: bold;
        padding: 9px;
        border: 2px solid black;
    }
}

@media(max-width:564px) {
    .master-card1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .master-card2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .master-card3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .cards {
        width: 96%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: 66px;
    }
    .card {
        width: 121px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 12px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .icon {
        height: 96px;
        width: 96px;
    }
    .buy-home {
        background-image: url('icons/buy-home.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .buy-land {
        background-image: url('icons/buy-land.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .buy-vehicle {
        background-image: url('icons/buy-vehicle.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
        /* height: 29vh; */
    }
    .sell-home {
        background-image: url('icons/sell-home.png');
        background-size: cover;
        /* background-position: left 0% top 51%; */
    }
    .sell-land {
        background-image: url('icons/sell-land.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .sell-vehicle {
        background-image: url('icons/sell-vehicle.png');
        background-size: cover;
        background-position: left 51% top 0%;
    }
    .card h2 {
        margin-top: 16px;
        padding: 5px;
        text-align: center;
        font-size: 12px;
    }
    .card a {
        margin-top: 16px;
        margin-bottom: 31px;
        text-decoration: none;
        font-weight: bold;
        padding: 6px;
        border: 2px solid black;
    }
}

@media(max-width:391px) {
    .master-card1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .master-card2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .master-card3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .cards {
        width: 96%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: 56px;
    }
    .card {
        width: 201px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 12px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .icon {
        height: 28vh;
        width: 201px;
    }
    .buy-home {
        background-image: url('icons/buy-home.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .buy-land {
        background-image: url('icons/buy-land.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .buy-vehicle {
        background-image: url('icons/buy-vehicle.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
        /* height: 29vh; */
    }
    .sell-home {
        background-image: url('icons/sell-home.png');
        background-size: cover;
        /* background-position: left 0% top 51%; */
    }
    .sell-land {
        background-image: url('icons/sell-land.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .sell-vehicle {
        background-image: url('icons/sell-vehicle.png');
        background-size: cover;
        background-position: left 51% top 0%;
    }
    .card h2 {
        margin-top: 16px;
        font-size: 19px;
        padding: 5px;
        text-align: center;
    }
    .card a {
        margin-top: 16px;
        margin-bottom: 31px;
        text-decoration: none;
        font-weight: bold;
        padding: 9px;
        border: 2px solid black;
    }
}

@media(max-width:291px) {
    .master-card1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .master-card2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .master-card3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }
    .cards {
        width: 96%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: 21px;
    }
    .card {
        width: 201px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 12px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .icon {
        height: 28vh;
        width: 201px;
    }
    .buy-home {
        background-image: url('icons/buy-home.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .buy-land {
        background-image: url('icons/buy-land.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .buy-vehicle {
        background-image: url('icons/buy-vehicle.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
        /* height: 29vh; */
    }
    .sell-home {
        background-image: url('icons/sell-home.png');
        background-size: cover;
        /* background-position: left 0% top 51%; */
    }
    .sell-land {
        background-image: url('icons/sell-land.jpg');
        background-size: cover;
        background-position: left 0% top 51%;
    }
    .sell-vehicle {
        background-image: url('icons/sell-vehicle.png');
        background-size: cover;
        background-position: left 51% top 0%;
    }
    .card h2 {
        margin-top: 16px;
        font-size: 19px;
        padding: 5px;
        text-align: center;
    }
    .card a {
        margin-top: 16px;
        margin-bottom: 31px;
        text-decoration: none;
        font-weight: bold;
        padding: 9px;
        border: 2px solid black;
    }
}


/* responsive cards end here.  */

@media(max-width:1001px) {
    .image-slider {
        /* width: 501px; */
        margin-top: 12px;
        width: 100%;
        height: 41vh;
        background-image: url('icons/poster2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
        /* animation: changeImage 20s linear infinite; */
    }
}